
.navbar
        .navbar-inner
                %ul.nav
                        %li= link_to "New page", new_page_path, class: "proceed_button"
                        %li= link_to "View", page_path(:id), class: "proceed_button"
                        %li= link_to "Edit content", edit_page_path(:id), class: "proceed_button"
                        %li= link_to "Delete", page_path(:id), :method => :delete,  class: "proceed_button"     
%section
        = render 'layouts/navbar'
        %table.for_tab{background: "#c0c0c0", border: "1", cellpadding: "2", cellspacing: "2", width: "100%"}
                %tr
                %th Title
                %th Published 
                %th Last changed
                        
                - @pages.each do |i|
                        
                        %tr
                        %td{width: "40%", align: "center"}= i.page_title 
                        %td{width: "20%", align: "center"}= check_box_tag :publsihed, true, false
                        %td{width: "30%", align: "center"}= i.updated_at.strftime("%d/%m/%y %l:%M %p")
                
