.wrap.action
  .wrap-in
    .action-bar
      .action-buttons
        %button#new.btn.btn-success{onclick: "location.href='/pages/new'"} New
        %button#view.btn.btn-success{disabled: "disabled"} View
        %button#edit.btn.btn-success{disabled: "disabled"} Edit
        %button#delete.btn.btn-success{disabled: "disabled"} Delete
      %input#filter.filter.search-query{placeholder: "Search", type: "text"}/
%section
  = render 'layouts/navbar'
  %table
    %tr
    %th= check_box_tag 'checkbox_all',  false
    %th Title
    %th Published 
    %th Last changed
                        
    - @pages.each do |i|
                        
      %tr
      %td{width: "15%", align: "center"}= check_box_tag :check_id, :false
      %td{width: "40%", align: "center"}= i.page_title 
      %td{width: "15%", align: "center"}= check_box_tag :publsihed, true, false
      %td{width: "30%", align: "center"}= i.updated_at.strftime("%d/%m/%y %l:%M %p")
/ %section.mainside
/   = render 'layouts/navbar'
/   .list
/     .list-head
/       .list-row
/         .list-cell.id
/           %input#check-all{"data-check" => ".list-body", type: "checkbox"}/
/           %label{for: "check-all"}
/         .list-cell
/           %p{"data-sort" => "title"}
/             Title
/             %i.icon-chevron-down
/         .list-cell.object
/           %p Published
/         .list-cell.last
/           %p{"data-sort" => "lastChanged"}
/             Last changed
/             %i.icon-chevron-down
/     .list-body
/   #pagination
