.navbar
  .navbar-inner
    .action-bar
      .action-buttons
        %ul.nav
          %li= button_to "New page", new_page_path, class: "btn btn-success", id: "buttons"
          %li= button_to "View", page_path(:id), class: "btn btn-success", id: "buttons"
          %li= button_to "Edit content", edit_page_path(:id), class: "btn btn-success", id: "buttons"
          %li= button_to "Delete", page_path(:id), :method => :delete,  class: "btn btn-success", id: "buttons"
        %input#filter_search{class: "filter_search-query"}
%section
  = render 'layouts/navbar'
  %table.sort
    %thead
      %tr
        %td Title
        %td Published 
        %td Last changed
    %tbody                      
      - @pages.each do |i|                    
        %tr
          %td{width: "40%", align: "center"}= i.page_title 
          %td{width: "20%", align: "center"}= check_box_tag :publsihed, true, false
          %td{width: "30%", align: "center"}= i.updated_at.strftime("%d/%m/%y %l:%M %p")
