<!-- <h2>Create a new page</h2>
<%= form_for(@page)  do |f| %>

  <div  class = "buttons">   
    <%= f.submit "Save page", class: "btn btn-success", float: "right"%>
    <a href="#"  <%= f.button "View",  class: "btn btn-success", float: "right" %></a>
    <a href="#"  <%= f.button "Apply",  class: "btn btn-success", float: "right" %></a>
    <a href="/pages"  <%= f.button "Cancel",  class: "btn btn-success", float: "right", data: { confirm: "Are you sure?" } %></a>
  </div> 


<div class="tabbable" id = "tabbable"> 
  <ul class="nav nav-tabs">
    <li class = "active"><a href="/pages/new" data-toggle="tab">Pages</a></li>
    <li><a href="/pages/new/#" data-toggle="tab">Content</a></li>
  </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
      
      <div class="row">
        <div class="span6 offset3" >

          <div class="title">
            <div class="title-label"> <%= f.label :page_title %> </div>
            <div class="title-field"> <%= f.text_field :page_title %> </div>
          </div>
        
          <div class="page_url">
            <div class="page_url-label"><%= f.label :page_url %></div>
            <div class="page_url-field"><%= f.text_field :page_url %></div> 
          </div>

          <div class="keywords">
            <div class="keywords-label"><%= f.label :keywords %></div>
            <div class="keywords-field"><%= f.text_field :keywords %></div>
          </div>

          <div class="description">
            <div class="description-label"><%= f.label :description %></div>
            <div class="description-field"><%= f.text_area :description %></div>
          </div>


          <div class="parent_page">
            <div class="parent_page-label"><%= f.label :parent_page_id %> </div>
            <%= f.select(:parent_page_id, options_for_select(['None'])) %>
          </div>

          <div class="page_type">
            <div class="page_type-label"><%= f.label :page_type %> </div>
            <%= f.select(:page_type, options_for_select(['None'])) %>
          </div>

          <div class="display_at_the_menu">
            <div class="display_at_the_menu-label"><%= f.label("Display at the menu") %></div>
            <div class="topmenu-label" align="center" ><%= f.label("Top menu") %></div>
            <div class="checkbox_top" align="center"><%= f.check_box(:display_top_menu) %></div>
            <div class="botmenu-label" align="center"><%= f.label("Bottom menu")%></div>
            <div class="checkbox-bot" align="center"><%= f.check_box(:display_bottom_menu) %></div>
          </div>

          <div class="published">
            <div class="published-label" align ="right"><%= f.label("Published") %>
            <div class="published-checkbox" align ="center"><%= f.check_box(:published) %> 
          </div>

        

      </div>
      </div>
    </div>

      <div class="tab-pane" id="tab2">
      </div>
    
    </div>
  </div>
<% end %> -->
<%= form_for(@page)  do |page| %>
<div class="wrap action">
    <div class="wrap-in">
      <div class="action-bar">
        <div class="action-buttons">
          <button id="action-apply" class="btn btn-success" name="apply" disabled="disabled">Apply</button>
          <button id="action-view" class="btn btn-success" name="view" disabled="disabled">View</button>
          <button id="action-save" class="btn btn-success" name="save" type="submit">Save</button>
          <button id="action-cancel" class="btn btn-success" name="cancel"  >Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <section class="wrap main">       
    <section class="wrap-in">
      <nav class="sidebar">
        <ul id="navigation">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">My account</a></li>
          <li class="active"><a href="#">Pages</a></li>
          <li><i class="sidebar-icon"></i>Security
            <ul>
              <li><a href="#">Users</a></li>
              <li><a href="#">Roles</a></li>
              <li><a href="#">Capabilities</a></li>
            </ul>
          </li>
          <li><a href="#">Competences</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Company</a></li>
        </ul>
      </nav>    
<!-- методы по заполнению полей   -->
    <%= page.label("Page title")%>
    <%= page.text_field :page_title %>

    <%= page.label("Page url") %>
    <%= page.text_field :page_url %>

    <%= page.label("Keywords") %>
    <%= page.text_field :keywords %>

    <%= page.label("Description") %>
    <%= page.text_area :description %>

    <%= page.label("Parent_page_id") %>
    <%= page.select(:parent_page_id, options_for_select(['None'])) %>

    <%= page.label :page_type %>
    <%= page.select(:page_type, options_for_select(['None'])) %>

    <%= page.label("Top menu") %>
    <%= page.check_box(:display_top_menu) %>

    <%= page.label("Bottom menu")%>
    <%= page.check_box(:display_bottom_menu) %>

    <%= page.label("Published") %>
    <%= page.check_box(:published) %>

<% end %>
