<%= form_for(@page) do |page| %>
<div class="wrap action">
    <div class="wrap-in">
      <div class="action-bar">
        <div class="action-buttons">
          <button id="action-apply" class="btn btn-success" name="apply" disabled="disabled">Apply</button>
          <button id="action-view" class="btn btn-success" name="view" disabled="disabled">View</button>
          <button id="action-save" class="btn btn-success" name="save" type="submit">Save</button>
          <button id="action-cancel" class="btn btn-success" name="cancel" type="button" onclick="location.href='/pages'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <section class="wrap main">       
    <section class="wrap-in">
      <nav class="sidebar">
        <ul id="navigation">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">My account</a></li>
          <li class="active"><a href= "/pages" >Pages</a></li>
          <li><i class="sidebar-icon"></i>Security
            <ul>
              <li><a href="#">Users</a></li>
              <li><a href="#">Roles</a></li>
              <li><a href="#">Capabilities</a></li>
            </ul>
          </li>
          <li><a href="#">Competences</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Company</a></li>
        </ul>
      </nav>   
    <section class="mainside">
      <div class="tabbable">
        <ul class=" nav nav-tabs" id="pageTabs">
          <li class="active">
            <a href="#tab1" data-toggle="tab">Properties</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">Content</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="form">
              <input id="id" name="id" type="hidden" value=""/>
              <input id="pageContent" name="pageContent" type="hidden" value=" "/>
              <%= render 'shared/error_messages' %>
              <div class="form-row">
                <div class="form-cell">Page title</div>
                <div class="form-cell">
                  <%= page.text_field :page_title %>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">&nbsp;</div>
                  <div class="form-cell error-box" id="nameValidate">
                      <div class="validLetters" data-condition='^[A-Za-z0-9.,_;:\ \-]+$'>Use only English alphabet
                        letters of both cases, digits, punctuation marks like . , : ; - _
                      </div>
                      <div class="uniqueness" data-condition='null'>The name is not unique</div>
                      <div class="minLength" data-condition='3'>You must have at least 3 symbols</div>
                      <div class="maxLength" data-condition='50'>You can type in 50 symbols maximum</div>
                      <div class="lettersCount" data-condition='[A-Za-z]+'>You must have at least one letter</div>
                      <div class="empty" data-condition='null'>Please, enter a name</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">URL</div>
                  <div class="form-cell">
                    <%= page.text_field :page_url %>
                    <!-- <input id="url" name="properties[&#39;URL&#39;]" data-content="Use English alphabet letters
                      of lower case, digits, punctuation marks like - _ only. URL must be unique" data-div="urlError"
                      type="text" value=""/> -->
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">&nbsp;</div>
                  <div class="form-cell error-box" id="urlValidate">
                    <div class="validLetters" data-condition='^/((\w|[-])+/?)+$'>Please enter valid data to the URL field
                    </div>
                    <div class="uniqueness" data-condition=''>Page with this url already exist</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">Keywords</div>
                  <div class="form-cell">
                    <%= page.text_field :keywords %>
                    <!-- <input id="keywords" name="properties[&#39;keywords&#39;]" data-content="Use English alphabet
                      letters of lower case, digits, punctuation marks as .- only and separate keywords by commas"
                      type="text" value=""/> -->                      
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">&nbsp;</div>
                  <div class="form-cell error-box" id="keywordsValidate">
                      <div class="validLetters" data-condition='^[a-z0-9.,-]+$'>Use English alphabet letters of
                        lower case, digits, punctuation marks as .- only and separate keywords by commas
                      </div>
                      <div class="empty" data-condition=''>Please, enter keywords</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">Description</div>
                  <div class="form-cell">
                    <%= page.text_area :description %>
                    <!-- <textarea id="description" name="properties[&#39;description&#39;]" maxlength="200" 
                      data-content="Use only English alphabet letters of both cases, digits,
                      punctuation marks like . , : ; - _. Maximum 200 symbols."></textarea> -->
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">&nbsp;</div>
                  <div class="form-cell error-box" id="descriptionValidate">
                      <div class="validLetters"
                         data-condition='^[A-Za-z0-9.?!,_;:\ \-]+$'>Use only English alphabet letters of both
                         cases, digits, punctuation marks like . , : ; - _
                       </div>
                      <div class="maxLength" data-condition='200'>You can type in 200 symbols maximum</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">Parent page</div>
                  <div class="form-cell">
                    <select id="page-type" name="properties[&#39;parent_id&#39;]" class="selectpicker">
                      <option value="-1" selected="selected">None</option>
                    </select>
                  </div>
              </div>
              <div class="form-row empty"></div>
              <div class="form-row">
                  <div class="form-cell">Page type</div>
                  <div class="form-cell">
                    <select id="page-type" name="properties[&#39;]" class="selectpicker">
                        <option value="-1" selected="selected">None</option>
                    </select>
                  </div>
              </div>
              <div class="form-row empty"></div>
              <div class="form-row">
                  <div class="form-cell">Display at top</div>
                  <div class="form-cell">
                    <%= page.check_box(:display_top_menu) %>
                    <!-- <input id="displayTop" name="properties[&#39;show in top menu&#39;]" type="checkbox"
                      value="true"/><label for="displayTop"></label><input type="hidden"
                      name="_properties['show in top menu']" value="on"/> -->
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">Display at bottom</div>
                  <div class="form-cell">
                    <%= page.check_box(:display_bottom_menu) %>
                    <!-- <input id="displayBottom" name="properties[&#39;show in bottom menu&#39;]" type="checkbox"
                      value="true"/><label for="displayBottom"></label><input type="hidden"
                      name="_properties['show in bottom menu']" value="on"/> -->
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-cell">Publish a page</div>
                  <div class="form-cell">
                      <%= page.check_box(:published) %>
                      <!-- <input id="publish" name="properties[&#39;published&#39;]" type="checkbox"
                        value="true"/><label for="publish"></label><input type="hidden"
                        name="_properties['published']" value="on"/> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </section>
  </section>
  <% end %> 
