%h4
  = @page.page_title
%ul
  %li
    Url: #{@page.page_url}
  %li
    Keywords: #{@page.keywords}
  %li
    Description: #{@page.description}
  %li
    Parent page id: #{@page.parent_page_id}
  %li
    Ancestry: #{@page.ancestry}
  %li
    Top menu: #{@page.display_top_menu}
  %li
    Botton menu: #{@page.display_bottom_menu}
  %li
    Published: #{@page.published}